// Palette: http://colorschemedesigner.com/csd-3.5/#2Z41Vw0w0w0w0
@base: #00B64F;
//@import (reference) "semantic/src/semantic.less";
@shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

@lowColor: #767676;
@mediumColor:#21BA45;
@highColor: #FBBD08;
@veryhighColor: #F2711C;
@endofworldColor: #DB2828;



html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    // display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    padding: 3.5em 1em 1em;
}

a {
    text-decoration: none;
}

// .container {
//     // text-align: center;
//     margin: 24px
// }

.subtitle {
    color: gray;
}
.base {background: @base}

paper-card {
    width: 100%;
}

//Priority

div.Low > div.ui.segment:not(.inverted),
div.Medium > div.ui.segment:not(.inverted),
div.High > div.ui.segment:not(.inverted),
div.veryHigh > div.ui.segment:not(.inverted)
div.EndOfTheWorld > div.ui.segment:not(.inverted) {
    border-left: 4px solid;
}
div.Low > div.ui.segment:not(.inverted){border-left-color: @lowColor;}
div.Medium > div.ui.segment:not(.inverted){border-left-color: @mediumColor;}
div.High > div.ui.segment:not(.inverted){border-left-color: @highColor;}
div.veryHigh > div.ui.segment:not(.inverted){border-left-color: @veryhighColor;}
div.EndOfTheWorld > div.ui.segment:not(.inverted){border-left-color: @lowColor;}

.my-stacked {box-shadow: @shadow}

#toolbar:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.task.container:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.header-tasklist{
    margin: 1.25rem -1.0rem 0;
    padding: 1rem 1.0rem
    }

div.task.header{
      font-weight: bold;
    }

div.task.header:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
 div.task.header > .title { 
        flex:auto;
        display: flex;
        font-size: 1.2rem;
        padding-top: 0.5em; 
      }