// Palette: http://colorschemedesigner.com/csd-3.5/#2Z41Vw0w0w0w0
@base: #00B64F;
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.container {
    // text-align: center;
}

.subtitle {
    color: gray;
}
.base {background: @base}

paper-card {
    width: 100%;
}